body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
}
.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #9eb1b3;   
        
}
.option{    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25%;
}
.option:hover{
    background-color: lightgoldenrodyellow;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#c7dddf;
}
  
.Valider,.next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.Valider{
    
    background-color: #50DBB4;
}
.Suivante{
    color: white;
    background-color: #BF3325;
}
/* ******************* HEADER ******************* */
.header{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    top: 0px;
  }
  .headerone{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 700px;
    top: 0px;
  }

  @import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .block{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    overflow-x: hidden;
    font-family: Lato,sans-serif;
    color: #000;
  }
  /* ******************* NAVBAR ******************* */
  .header-menu {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.7;
    background-size: cover;
  }
  header li {
    float: right;
    font-size: 1.4em;
    margin-right: 30px;
  }
  header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 24px 23px;
    margin-right: 5px;
    color: #000000;
  }
  header li a:hover{
    color: #f1c40f;
  }
  #logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
    margin-left: 30px;
  }
  
  /* **************** IMAGE PRINCIPALE ************* */
  #imagePrincipale {
    padding-top: 60px;
    background: url(file:///D:/Utilisateur/Documents/Projet%20WEB/src/img/imagePrincipale.JPG)no-repeat fixed 50% 50%;
    background-size: cover;
    height: 700px;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
  }
  #premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #EEB83C;
    box-shadow: 1px 3px 2px black;
  }
  h3 {
    text-align: center;
    color:antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
  }
  h4 {
    text-align: center;
    color:antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
  }